	@media only screen and (min-width: 1200px) {

	.header_nav ul {float: right;}
.header_nav .social_media{ display:inline-block; vertical-align:middle; padding-left:3px; margin-left:0;}
.header_nav .social_media li{padding:0 10px; margin: 0px 0;}
.header_nav .social_media li a{  width:21px; height:21px; display:inline-block;  position:relative; z-index: 25;}
.header_nav .wrapper { margin: 0 60px;}
.fa {
  padding: 3px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px;
  border-radius: 10%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: none;
  color: white;
}

.fa-twitter {
  background: none;
  color: white;
}

.fa-google {
  background: none;
  color: white;
}

.fa-linkedin {
  background: none;
  color: white;
}

.fa-youtube {
  background: none;
  color: white;
}

.fa-instagram {
  background: none;
  color: white;
}

.fa-pinterest {
  background: none;
  color: white;
}

.fa-snapchat-ghost {
  background: none;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: none;
  color: white;
}


}
@media only screen and (min-width: 768px) {
 }

@media (max-width: 640px) {
.header_nav {
	display: : none;
}

.header_nav .social_media li{ display: : none; }
}