/********************** OUR_PARTNERS *****************************/
#our_partners{ background:#ffffff; padding:59px 0 95px;}
#our_partners .heading_text{}
/*#our_partners .heading_img{background-image:url(../../images/dot-03.png); background-repeat:no-repeat; background-position:left top; min-height:36px; margin:0 0 120px;}
*/#our_partners .our_partners_wrap{}
#our_partners .our_partners_wrap .partner_content{}
#our_partners .our_partners_wrap .col-sm-3 img{ width:210px; height:242px; margin-right: 0px; border-radius:4px; display:inline-block; background-color:white;}
#our_partners img { border-radius: 5px; }
#our_partners .carousel-control.left{ left:auto; right:1%; background-image:url(/assets/white_arrow.png);}
#our_partners .carousel-control.right{ background-image:url(/assets/white_arrow.png); background-repeat:no-repeat; background-position:center;}
#our_partners .carousel{padding-right:70px;}
#our_partners .slick-initialized .slick-slide{display:block;}
#our_partners{overflow:hidden;}
#our_partners .slick-prev::before{ content:url(/assets/left-arrow.png); }
#our_partners .slick-next::before{content:url(/assets/right-arrow.png);}
#our_partners .slick-next{right:-26;}
.slick-prev, .slick-next{width:31px; height:41px;}

@media only screen and (min-width: 1200px) {
#our_partners .row {}
.slick-next{ right: -47px; }
#our_partners .col-sm-3 { /*padding-left: 39px;*/ }
}
@media (min-width: 768px) and (max-width: 1100px) {
#our_partners .heading_text h2{font-size:40px;}
#our_partners .our_partners_wrap img{width:150px; height:150px;}
#our_partners .our_partners_wrap img{background-size:55%;}
}

@media (min-width: 768px) and (max-width: 960px){
#our_partners{ background-size:contain; margin:0 0 18px; }
#our_partners .our_partners_wrap img { height: 110px; width: 110px;}
}

@media (max-width: 960px){
#our_partners .heading_text h2{font-size:25px; line-height:24px;}
}

@media (max-width: 767px){
#our_partners .heading_text h2{margin:0 0 30px;}
#our_partners .carousel{padding-right:0;}
}
@media (max-width: 640px) {
	#our_partners .autoplay { margin: 0 50px; }

	}