<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NepaliProduct</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <!-- <link rel='icon' href='/assets/favicon.ico?v=5' type='image/x-icon' /> -->
    
  </head>

  <body>
    <%= yield %>
    <div id="wrapper">
<div class="scrollbar" id="style-4">
  <div class="force-overflow"></div>
</div>
</div>
<script type="text/javascript">

</script>
  </body>
</html>
